/* 
  =========================================================
  ===============FILOSOFIA DE GESTION======================
  =========================================================
*/

/* 
    ============PRIMER CONJUNTO DE CARDS ===============
    ========las cards de esta seccion son sencillas======
*/


/* estilo del cursos para las tarjetas sencillas */
.v2{
    cursor: auto;
  }
  
  /* ======== ESTILO DE TARJETAS CON IMAGENES SOLAMENTE ===========*/
  
  /*contenedor de card sencilla con imagen solamente */
  .container-imgs{
    margin-top: 1px;
    padding:0;
    margin: 0;
    width: 100%;
    /* height: 400px; */
    display: flex;
    position:-webkit-sticky;
  }
  /* nota: no colocar heigt al contenedor */

  .card-group{
    width: 100%;
  }
  
  /* estilo de tarjetas de imagen sencilla */
  .face{
    margin: 0;
    width: 100%;
    height: 480px;
    position: relative;
  }
  
  /* ======== ESTILO DE TARJETAS CON TEXTO SOLAMENTE ========= */
  
  
  /* contenedor de cards sencillas con texto solamente */
  .container-texts{
    padding:0;
    margin: 0;
    width: 100%;
    /* height: 250px; */
    display: flex;
    position:-webkit-sticky;
  }
  
  /* estructura de card sencilla */
  .simple{
    margin: 0;
    width: 100%;
    height: 250px;
    border-radius: 0px; 
    position: relative;
    display: flex;   
    justify-content:center;  
  }
  
  
  /* cuerpo de tarjeta sencilla */
  .bodytext{
    width: 100%;
    height: 300px;
    top: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  
  /* cuerpo de tarjeta en tonos claros */
  .soft{
    background-color: #8DD7D2;
  }
  
  /* cuerpo de tarjeta en tonos oscuros */
  .dark{
    background-color: #49beb7;
  }
  
  
  /* titulos de las card sencillas */
  .card-title-simple{
    font-size: clamp(1.5rem,3vw + .25rem,3rem);
    text-align:left;
    margin-left: 30px;
    margin-top: 3px;
    font-weight: 500;
    color: #085f63;
  }
  
  /* texto de las cards sencillas */
  .card-text{
    font-size: clamp(1rem, 1vw + .15rem,2rem);
    text-align: left;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 20px;
    color: #085f63;
  }
  
  /* 
    ============= SEGUNDO CONJUNTO DE CARDS ================
    ==================== GRID CARDS ========================
    ======== las cards de esta seccion son sencillas =======
    ===incluyen una combinacion de imagenes y texto simple==
  */
  
  .container-card{
    padding:0;
    margin: 0;
    height: 350px;
    display: flex;
    position:-webkit-sticky;
  }
  
  
  .simple-grid{
    margin: 0;
    width: 100%;
    height: 550px;
    border-radius: 0px; 
    position: relative;
    display: flex;   
    justify-content:center;  
  }
  /* cuerpo de card blanca sencilla */
  .bgwhite{
    background-color: #ffffff;
  }
  
  /* titulos de las card horizontales sencillas */
  .hsimple{
    text-align:left;
    margin-left: 30px;
    margin-top:80px;
    margin-bottom: 30px;
    font-size: clamp(1rem,3vw + 0.5rem,3rem);
    /* NOTA: clamp permite establecer un rango de valores posibles (para este caso aplicados al font-size)
       toma tres argumentos posibles (valor minimo,valor preferente,valor maximo)
    */
    font-weight: 500;
    color: #085f63;
  }
  
  /* texto de las card sencillas */
  .extend{
    font-size: calc(1vw + .25rem);
    /* Nota: a traves de calc es otra manera de calcular el "ajuste" al tamaño del font-size  */
    /* font-size: clamp(.5rem,1.25vw + 0.15rem,2rem); */
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #085f63;
  }
  
  /* grid de tarjetas */
  .bodygrid{
    width: 100%;
    height: 250px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container-card.text {
    margin-top: 0.5px; /* Añade un margen superior para separar la sección de objetivos de las tarjetas de visión */
  }
  