/*buena practica*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none; 
    font-family: "Montserrat Alternates", sans-serif
}

.head-title{
    text-align: center;
    font-size: 32px;
    color: #085f63;
}

.container-card{
    padding:0;
    margin: 0;
    display: flex;
    position:-webkit-sticky;
}

/* estilo de tarjetas */
.card{
    margin: 0;
    width: 100%;
    height: 450px;
    border-radius: 0px; 
    overflow: hidden;
    position: relative;
    cursor: pointer;        
}
/* estilo de imagenes */
.card-img-fluid{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* body de cards celestes  */
.card-body{
    width: 100%;
    height: 450px;
    top: 0;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s;
}

/* background celeste de cards */
.darkt{
    background: #49beb6ab;
}

/* backgroun blanco de cards */
.softw{
    background: #ffffffaf;
}

/* efecto hover de las cards celestes */
.card:hover .card-body{
    right: 0;
}

/* efecto hover de las cards blancas
.card:hover .card-body{
    right: 0;
} */

/* titulo de las cards */
.card-title{
    text-align: center;
    /* text-transform: uppercase;  */
    font-size: 28px;
    font-weight: 500;
    color: #085f63;
}

/* subtitulo de las cards */
/* .card-subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
} */

/* texto de las cards */
.card-info{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 500;
}

/* estilo texto color blanco */
.textwhite{
    color: #ffffff;
}
/* estilo texto color turquesa claro */
.textturqblue{
    color: #49beb7;
}

/* 
===============FILOSOFIA DE GESTION======================
*/
/* 
    ============PRIMER CONJUNTO DE CARDS ===============
    ========las cards de esta seccion son sencillas======
*/


/* estilo del cursos para las tarjetas sencillas */
.v2{
    cursor: auto;
}

/* ======== ESTILO DE TARJETAS CON IMAGENES SOLAMENTE ===========*/

/* altura del contenedor de card sencilla con imagen solamente */
.imgs{
    padding:0;
    margin: 0;
    display: flex;
    position:-webkit-sticky;
    height: 450px;
}

/* estilo de tarjetas de imagen sencilla */
.face{
    margin: 0;
    width: 100%;
    height: 280px;
    position: relative;
}

/* ======== ESTILO DE TARJETAS CON TEXTO SOLAMENTE ========= */


/* altura del contenedor de cards sencillas con texto solamente */
.texts{
    padding:0;
    margin: 0;
    display: flex;
    position:-webkit-sticky;
    height: 300px;

}

/* estructura de card sencilla */
.simple{
    margin: 0;
    width: 100%;
    height: 380px;
    border-radius: 0px; 
    position: relative;
    display: flex;   
    justify-content:center;  
}


/* cuerpo de tarjeta sencilla */
.bodytext{
    width: 100%;
    height: 300px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* cuerpo de tarjeta en tonos claros */
.soft{
    background-color: aquamarine;
}

/* cuerpo de tarjeta en tonos oscuros */
.dark{
    background-color: rgb(7, 179, 179);
}


/* titulos de las card sencillas */
.card-title-simple{
    text-align:left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
    color: #085f63;
}

/* texto de las cards sencillas */
.card-text{
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    color: #085f63;
}

/* 
    ============SEGUNDO CONJUNTO DE CARDS ================
    ========las cards de esta seccion son sencillas======
    ===incluyen una combinacion de imagenes y texto simple==
*/
/* cuerpo de card blanca sencilla */
.bgwhite{
    /* width: 100%; */
    height: 250px;
    /* top: 0; */
    background-color: #ffffff;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

/* titulos de las card horizontales sencillas */
.hsimple{
    text-align:left;
    margin-left: 30px;
    margin-top:50px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 500;
    color: #085f63;
}

/* texto de las card sencillas */
.extend{
    font-size: 16px;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #085f63;
}

.bodygrid{
    width: 100%;
    height: 300px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridhor{
    width: 100%;
    height: 300px;
}