/*buena practica*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none; 
    font-family: "Montserrat Alternates", sans-serif
}

.head-title{
    text-align: center;
    font-size: 32px;
    color: #085f63;
}


/*estilo del body*/ 
/* body{
    width: 100%;
    height: 100%;
    background-color: #99def0;
} */

.container-card{
    padding:0;
    margin: 0;
    display: flex;
    position:-webkit-sticky;
}

/* estilo de tarjetas */
.card{
    margin: 0;
    width: 100%;
    height: 450px;
    border-radius: 5px; */
    overflow: hidden;
    position: relative;
    cursor: pointer;        
}
/* estilo de imagenes */
.card-img-fluid{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* body de cards celestes  */
.card-body{
    width: 100%;
    height: 450px;
    top: 0;
    right: -100%;
    position: absolute;
    background: #49beb6ab;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s;
}

/* body de cards blancas */
.card-body-2{
    width: 100%;
    height: 450px;
    top: 0;
    right: -105%;
    position: absolute;
    background: #ffffffbd;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s;
}

/* efecto hover de las cards celestes */
.card:hover .card-body{
    right: 0;
}

/* efecto hover de las cards blancas */
.card:hover .card-body-2{
    right: 0;
}

/* titulo de las cards */
.card-title{
    text-align: center;
    /* text-transform: uppercase;  */
    font-size: 28px;
    font-weight: 500;
    color: #085f63;
}

/* subtitulo de las cards */
/* .card-subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
} */

/* texto de las cards */
.card-info{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 500;
    color: #ffffff;
}

/* texto de las cards */
.card-info-2{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 500;
    color: #49beb7;
}

/* SEGUNDO CONJUNTO DE TARJETAS */
.card-simple{
    margin: 0;
    width: 50%;
    height: 250px;
    border-radius: 5px; 
    position: relative;
    cursor: pointer;   
    display: flex;     
}
.container-card-2{
    padding:0;
    margin: 0;
    display: flex;
    position:-webkit-sticky;
    height: 440px;
}

.face{
    margin: 0;
    width: 100%;
    height: 280px;
    position: relative;
}

.card-body-simple{
    width: 100%;
    height: 250px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body-simple-2{
    width: 100%;
    height: 250px;
    background-color: rgb(7, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title-simple{
    text-align:left;
    margin-left: 20px;
    /* text-transform: uppercase;  */
    font-size: 28px;
    font-weight: 500;
    color: #085f63;
}

.card-text{
    font-size: 22px;
    text-align: left;
    margin-left: 20px;
    color: #085f63;
}
