/*buena practica*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none; 
    font-family: "Montserrat Alternates", sans-serif
}
/*--------------------------------------------------------------
# Content (top-navbar - Header)
--------------------------------------------------------------*/

/* <!-- ======= Top barra de navegacion ======= --> */


/* ESTO ES PARA CONFIGURAR EL ESTILO DE LA BARRA DE NAVEGACION SIN FONDO*/ 

/* eliminamos el fondo del contenedor del header */
.bgnone{
    background-image: none;
}

.navbar {
    background-color: transparent !important; /* Anula el fondo de la barra de navegación */
    color: #000; /* Color del texto de la barra de navegación */
}
/* Estilos para el título */
.head-title{
    text-align: center;
    font-size: 32px;
    color: #085f63;
    margin-top: 15px; /* Ajusta el margen superior según sea necesario */
}
/*--------------------------------------------------------------
# para los h1
--------------------------------------------------------------*/
  .head-title h1 {
    font-weight:600;   
  }


.container-card{
    padding:0;
    margin: 0;
    display: flex;
    position:sticky;
}

/* estilo de tarjetas */
.card{
    margin: 0;
    width: 100%;
    height: 28rem;
    border-radius: 0px; 
    overflow: hidden;
    position: relative;
    cursor: pointer;        
}
/* estilo de imagenes */
.card-img-fluid{
    width: 45rem;  /*no se le puede dar el 100% siempre ya que las imagenes empleadas tienen diferentes dimensiones*/
    height: 450px;
    object-fit: cover;
}

/* body de cards  */
.card-body{
    width: 100%;
    height: 450px;
    top: 0;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s;
}

/* background celeste de cards */
.darkt{
    background: #49beb6ab;
}

/* backgroun blanco de cards */
.softw{
    background: #ffffffaf;
}

/* efecto hover de las cards celestes */
.card:hover .card-body{
    right: 0;
}

/* titulo de las cards */
.card-title{
    text-align: center;
    /* text-transform: uppercase;  */
    font-size: 28px;
    font-weight: 500;
    color: #085f63;
}

/* subtitulo de las cards */
/* .card-subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
} */

/* texto de las cards */
.card-info{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 500;
}

/* estilo texto color blanco */
.textwhite{
    color: #ffffff;
}
/* estilo texto color turquesa claro */
.textturqblue{
    color: #49beb7;
}

/* 
===============FILOSOFIA DE GESTION======================
*/
/* 
    ============PRIMER CONJUNTO DE CARDS ===============
    ========las cards de esta seccion son sencillas======
*/


/* estilo del cursos para las tarjetas sencillas */
.v2{
    cursor: auto;
}

/* ======== ESTILO DE TARJETAS CON IMAGENES SOLAMENTE ===========*/

/*contenedor de card sencilla con imagen solamente */
.container-imgs{
    padding:0;
    margin: 0;
    width: 100vw;
    display: flex;
    position:-webkit-sticky;
    /* height: 280px; */
}

/* estilo de tarjetas de imagen sencilla */
.face img{
    margin: 0;
    width: 49.5vw;
    /* height: 280px; */
    position: relative;
}

/* ======== ESTILO DE TARJETAS CON TEXTO SOLAMENTE ========= */


/* contenedor de cards sencillas con texto solamente */
.container-texts{
    padding:0;
    margin: 0;
    width: 100%;
    display: flex;
    position:-webkit-sticky;
}

/* estructura de card sencilla */
.simple{
    margin: 0;
    width: 100%;
    height: 380px;
    border-radius: 0px; 
    position: relative;
    display: flex;   
    justify-content:center;  
}


/* cuerpo de tarjeta sencilla */
.bodytext{
    width: 100%;
    height: 330px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* cuerpo de tarjeta en tonos claros */
.soft{
    background-color: #8dd7d2;
}

/* cuerpo de tarjeta en tonos oscuros */
.dark{
    background-color: #49beb7;
}


/* titulos de las card sencillas */
.card-title-simple{
    text-align:left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: clamp(1.5rem,3vw + .25rem,3rem);
    font-weight: 500;
    color: #085f63;
}

/* texto de las cards sencillas */
.card-text{
    font-size: clamp(1rem, 1vw + .15rem,2rem);
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
      /* Control de la altura con base en el texto del div*/
    height: auto;
    color: #085f63;
    /* Control de la altura con base en el texto del div*/
    height: auto;
}

/* 
    ============= SEGUNDO CONJUNTO DE CARDS ================
    ==================== GRID CARDS ========================
    ======== las cards de esta seccion son sencillas =======
    ===incluyen una combinacion de imagenes y texto simple==
*/
/* cuerpo de card blanca sencilla */
.bgwhite{
    background-color: #ffffff;
}

/* titulos de las card horizontales sencillas */
.hsimple{
    text-align:left;
    margin-left: 30px;
    margin-top:50px;
    margin-bottom: 30px;
    font-size: clamp(1.5rem,3vw + 0.5rem,3rem);
    /* NOTA: clamp permite establecer un rango de valores posibles (para este caso aplicados al font-size)
       toma tres argumentos posibles (valor minimo,valor preferente,valor maximo)
    */
    font-weight: 500;
    color: #085f63;
}

/* texto de las card sencillas */
.extend{
    font-size: clamp(.2rem, 1.15vw + 0.15rem, 2rem);
    height:auto;
    /* Nota: a traves de calc es otra manera de calcular el "ajuste" al tamaño del font-size  */
    /* font-size: clamp(.5rem,1.25vw + 0.15rem,2rem); */
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #085f63;
}

.bodygrid{
    width: 100%;
    height: 300px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-card.text {
    margin-top: 2rem; /* Añade un margen superior para separar la sección de objetivos de las tarjetas de visión */
   
}

.bodygrid li {
    height: auto; /* Ajusta automáticamente la altura */

}

/*.container-imgs .card-group {
    overflow: hidden; Ocultar cualquier parte de las imágenes que se 
    extienda más allá del contenedor 
}*/

@media (max-width: 1200px) {
   .extend,
   .card-text {
    font-size: clamp(1rem, 2vw, 1.5rem); /*Utiliza clamp para establecer un rango de tamaño de fuente */
  }
 /*   Aplicar desplazamiento vertical a la sección de objetivos */
  .bodygrid {
    /* Control de la altura con base en el texto del div*/
   overflow-y: auto; 
  }

  }

  @media (max-width: 768px) {
    .container-imgs .card-group img {
        width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
        height: auto; /* Permitir que la altura se ajuste automáticamente según el ancho */
    }

    /* segundo ajuste para medida especifica (todavia no funciona) */
    @media(max-width:690px){
        .face img{
            width: auto;
            height: 200vh;
        }
    }

}
   
